# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore src/OCSoft.PdfAnalyser.sln
      
    - name: Build
      run: dotnet build src/OCSoft.PdfAnalyser.sln -c Release --no-restore
      
    - name: Test
      run: dotnet test src/OCSoft.PdfAnalyser.Test/OCSoft.PdfAnalyser.Test.csproj -c Release --no-build --verbosity normal
      
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: PdfAnalyser
        path: dist
